<div class="box" >
  <h1>Welcome to Halo</h1>

  <p>The world’s first digitally connected and customizable gift card.</p>

  <br/>

  <h5>To send a gift, <a href="/send">click here</a></h5>

  <h5>To see the gifts you have sent, <a href="/account">click here</a></h5>

  <h5>To see the gifts you have received, <a href="/my-gifts">click here</a></h5>
</div>

<div class="box" >
  <div *ngIf="!(auth.user | async); else alreadyLoggedIn">
    Login to see Feed.
  </div>

  <ng-template #alreadyLoggedIn>
    <h3>Feed</h3>

    <table style="width:100%; border:none;">
    <tr *ngFor="let gift of gifts | async">
      <td><img style="border-radius:50%" class="card-img-top" [src]="'https://api.adorable.io/avatars/109/fire.png'" width=30px>
       &nbsp;
       <strong>{{gift.senderName}}</strong>
       &nbsp;&nbsp; ➡️ &nbsp;&nbsp;
       <img style="border-radius:50%" class="card-img-top" [src]="'https://api.adorable.io/avatars/109/fire.png'" width=30px>&nbsp;&nbsp;
      <strong>{{gift.recipientName}}</strong> ({{gift.recipientEmail}})</td>

      <td>💸<strong>${{gift.amount}}</strong></td>

      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⌛ {{gift.timestamp}}</td>
    </table>

  </ng-template>
</div>
