<p>
  gift-details works!
</p>
<video autoplay="" title="Video player" alt="Click me to apply CSS Filters"></video>

<!-- {{gift | json}} -->
<!-- <p [innerHTML]="gift.message.replace('\\', '')"> </p> -->

<div class="container">
  <h2>Basic Panel</h2>
  <div class="panel panel-default">
    <div class="panel-body">A Basic Panel</div>
  </div>
</div>
<!-- <div [innerHTML]="replaceBackslash(gift.message)"></div> -->
<!-- 
 <table style="width:100%">
    <tr>
      <th>Timestamp</th>
      <th>Recipient</th>
      <th>Sender</th>
      <th>Amount</th>
      <th>URL</th>
    </tr>
    <tr *ngFor="let g of gift">
       <td>{{g.timestamp}} </td>
       <td>{{g.recipientEmail}}</td>
       <td>{{g.senderEmail}}</td>
       <td>{{g.amount}}</td>
       <td>{{g.url}}</td>
    </tr>
  </table> -->
 
