<div>
  <h1>Account</h1>
  <h3>Card Number: <strong>{{user.cardNumber}}</strong> <br/>Value: <strong>${{user.cardValue}}</strong></h3>
  <h3></h3>
</div>

<br/>

<div>
  <h1>Your Gifting History</h1>
  <table style="width:100%">
    <tr>
      <th>Timestamp</th>
      <th>Recipient Name</th>
      <th>Recipient Email</th>
      <th>Value</th>
      <th>Gift URL</th>
      <th>Details</th>
    </tr>
    <tr *ngFor="let gift of gifts | async">
       <td>{{gift.timestamp}}</td>
       <td>{{gift.recipientName}}</td>
       <td>{{gift.recipientEmail}}</td>
       <td>${{gift.amount}}</td>
      <td><a href="{{gift.url}}" target="_blank">View Gift</a></td>
       <td><a href="/account">View Details</a></td>
    </tr>
  </table>
</div>
