extends layout

block content
  h1 Halo
  p.lead gifting reinvented.
  hr
  // .row
    // .col-md-6
    //   h2 Heading
    //   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //   p
    //     a.btn.btn-raised(href='#', role='button') View details »
    // .col-md-6
    //   h2 Heading
    //   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //   p
    //     a.btn.btn-raised(href='#', role='button') View details »

  .pb-2.mt-2.mb-4.border-bottom
    h3 SEND A HALO CARD

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label(class='col-md-1 col-form-label font-weight-bold', for='amount') Amount
      .col-md-9
        input.form-control(type='number', min=1, step=0.01, name='amount', id='amount', autocomplete='amount')
    .form-group.row
      label(class='col-md-1 col-form-label font-weight-bold', for='firstname') First Name
      .col-md-4
        input.form-control(type='text', name='firstname', id='firstname', autocomplete='firstname', autofocus=true)
      label(class='col-md-1 col-form-label font-weight-bold', for='lastname') Last Name
      .col-md-4
        input.form-control(type='text', name='lastname', id='lastname', autocomplete='lastname')
    .form-group.row
      label(class='col-md-1 col-form-label font-weight-bold', for='email') Email
      .col-md-4
        input.form-control(type='email', name='email', id='email', autocomplete='email')
      label(class='col-md-1 col-form-label font-weight-bold', for='birthdate') Birthdate
      .col-md-4
        input.form-control(type='date', name='birthdate', id='birthdate', autocomplete='birthdate')
    .form-group.row
      label(class='col-md-1 col-form-label font-weight-bold', for='address') Address
      .col-md-9
        input.form-control(type='text', name='address', id='address', autocomplete='address')
    .form-group.row
      label(class='col-md-1 col-form-label font-weight-bold', for='city') City
      .col-md-4
        input.form-control(type='text', name='city', id='city', autocomplete='city')
      label(class='col-md-1 col-form-label font-weight-bold', for='state') State
      .col-md-4
        input.form-control(type='text', name='state', id='state', autocomplete='state')
    // .form-group.row
    //   label(class='col-md-1 col-form-label font-weight-bold', for='message') Please describe the issue or your suggestion
    //   .col-md-8
    //     textarea.form-control(name='message', id='message', rows='7', autofocus=(!unknownUser).toString())
    .form-group
      .offset-md-2.col-md-8.p-1
        button.btn.btn-primary(type='submit')
          i.far.fa-envelope.fa-sm
          | Send