<div>
  <h1>My Gifts</h1>
<!--   <h3>Card Number: <strong>{{user.cardNumber}}</strong> <br/>Value: <strong>${{user.cardValue}}</strong></h3>
  <h3></h3> -->

  <h3>Gifts Received</h3>
  <table style="width:100%">
    <tr>
      <th>Timestamp</th>
      <th>Sender Name</th>
      <th>Sender Email</th>
      <th>Recipient Email</th>
      <th>Value</th>
      <th>Gift URL</th>
      <th>Details</th>
    </tr>
    <tr *ngFor="let gift of gifts | async">
       <td>{{gift.timestamp}}</td>
       <td>{{gift.senderName}}</td>
       <td>{{gift.senderEmail}}</td>
       <td>{{gift.recipientEmail}}</td>
       <td>${{gift.amount}}</td>
       <td><a href="{{gift.url}}" target="_blank">View Gift</a></td>
       <td><a href="/my-gifts">View Details</a></td>
    </tr>
  </table>
</div>
