<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <!-- <img src="assets/images/angularfirebase.png" width="30px" alt="Firestarter Angular4 Demo App" /> --> Halo
        </a>

        <a id="navToggle" role="button" class="navbar-burger" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" [ngClass]="{'is-active': show}">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/login">
        Login
      </a>
            <a class="navbar-item" routerLink="/ssr">
        Send
      </a>
            <a class="navbar-item" routerLink="/notes">
        My Gifts
      </a>
            <a class="navbar-item" routerLink="/uploads">
        Account
      </a>
        </div>
    </div>
</nav>