<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <img src="assets/images/halo_logo.png" width="70" alt="Halo" />
        </a>

        <a id="navToggle" role="button" class="navbar-burger" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" [ngClass]="{'is-active': show}">
        <div class="navbar-end">
        <a class="navbar-item" routerLink="/login">
          Login
        </a>
        <a class="navbar-item" routerLink="/">
          Feed
        </a>
        <a class="navbar-item" routerLink="/send">
          Send Gifts
        </a>
        <a class="navbar-item" routerLink="/my-gifts">
          Received Gifts
        </a>
        <a class="navbar-item" routerLink="/account">
          Account
        </a>

<!--             <a class="navbar-item" routerLink="/ssr">
        SSR
      </a>
            <a class="navbar-item" routerLink="/notes">
        Notes
      </a>
            <a class="navbar-item" routerLink="/uploads">
        Uploads
      </a> -->
        </div>
    </div>
</nav>